@charset "ISO-8859-1";

@font-face {
	font-family: tomato-soup;
	src: url(../fonts/TomatoSoup-Regular.ttf);
}

body * {
	font-family: "Didact Gothic";
}

h2 {
	font-family: tomato-soup;
	font-weight: bold;
	font-size: 6em;
}

.card {
	margin-bottom: 10px;
	cursor: pointer;
	min-width: 140px;
}

h3 {
	margin-top: 10px;
}

.line-through {
	text-decoration: line-through;
}

div.urgent span, div.urgent .fa-exclamation-circle {
	color: red;
}

#tuesday, #thursday, #saturday {
	background-color: #F4F4F4!important;
}

#water-message, .class-btn-group:not(:first-of-type) {
	display: none;
}

.nav-tabs {
	font-weight: bold;
}

.row-action {
	color: #495057;
}

.row-action:focus, .row-action:hover {
	color: #495057;
	text-decoration: none;
	background-color: #f8f9fa;
}

.row-action:active {
	color: #212529;
	background-color: #e9ecef;
}