@charset "ISO-8859-1";

@font-face {
	font-family: tomato-soup;
	src: url(../fonts/TomatoSoup-Regular.ttf);
}

@font-face {
	font-family: bebas-neue-bold;
	src: url(../fonts/BebasNeue-Bold.ttf);
}

@font-face {
	font-family: bebas-neue-book;
	src: url(../fonts/BebasNeue-Book.ttf);
}

body * {
	font-family: bebas-neue-bold;
}

h2 {
	font-family: tomato-soup;
	font-weight: bold;
	font-size: 6em;
}

.card {
	margin-bottom: 10px;
	cursor: pointer;
	min-width: 150px;
}

h3 {
	margin-top: 10px;
}

.line-through {
	text-decoration: line-through;
}

li.urgent > span > span, li.urgent .fa-exclamation-circle {
	color: red;
}

#tuesday, #thursday, #saturday {
	background-color: #F4F4F4!important;
}

#water-message, .class-btn-group:not(:first-of-type) {
	display: none;
}